<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835109086614-lqro7vv996uq12m9f88rke37rf294klc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835109086614-lqro7vv996uq12m9f88rke37rf294klc</string>
	<key>API_KEY</key>
	<string>AIzaSyD4aR4sAkYdELLcrI2KEPhi1LP86-mdZj8</string>
	<key>GCM_SENDER_ID</key>
	<string>835109086614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letovooutside.letovoOutside</string>
	<key>PROJECT_ID</key>
	<string>literature-cad31</string>
	<key>STORAGE_BUCKET</key>
	<string>literature-cad31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835109086614:ios:d029e09442b677aa15e9b7</string>
	<key>DATABASE_URL</key>
	<string>https://literature-cad31.firebaseio.com</string>
</dict>
</plist>